# Core
Flask==3.0.3
Flask-Cors==5.0.0
gunicorn==23.0.0
python-dotenv==1.0.1

# Data Science
pandas==2.1.4
numpy==1.26.4
scipy==1.11.4
scikit-learn==1.4.2
matplotlib==3.8.3

# Machine Learning
tensorflow==2.15.0
keras==2.15.0
h5py==3.10.0

# Computer Vision
opencv-python==4.9.0.80
Pillow==10.2.0

# NLP
spacy==3.7.4
nltk==3.8.1
